server:
  port: 8083
  servlet:
    context-path: /notification
spring:
  profiles:
    active: dev
  application:
    name: notification-service
  kafka:
    bootstrap-servers: ${KAFKA_BOOTSTRAP_SERVERS:localhost:9092}
    consumer:
      group-id: notification-service-group
      auto-offset-reset: earliest
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      properties:
        spring.json.trusted.packages: "*"
notification:
  email:
    brevo-url: ${BREVO_URL}
    brevo-api-key: ${BREVO_API_KEY}
  sender:
    name: ${SENDER_NAME}
    email: ${SENDER_EMAIL}